<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="SampleCheckoutDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="CheckoutDB" connectionString="Server=127.0.0.1;Database=checkout;Uid=buddy;Pwd=password123;" providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
 <userSettings>
  <SampleCheckoutDemo.Properties.Settings>
   <setting name="UserName" serializeAs="String">
    <value />
   </setting>
   <setting name="Password" serializeAs="String">
    <value />
   </setting>
   <setting name="Checkbox" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Previous" serializeAs="String">
    <value />
   </setting>
  </SampleCheckoutDemo.Properties.Settings>
 </userSettings>
</configuration>